body {
	color: #333;
	font-family: 'Architects Daughter', cursive;
}

.heading {
	border-radius: 5px;
	font-size: 18px;
	margin: 2px 0;
	padding: 2px 12px;
}
.heading-1 {
	font-size: 32px;
}
.heading-2 {
	font-size: 28px;
	margin-left: 8px;
}
.heading-3 {
	font-size: 24px;
	margin-left: 16px;
}
.heading-4 {
	font-size: 20px;
	margin-left: 24px;
}
.heading-5 {
	font-size: 16px;
	margin-left: 32px;
}
.heading-3:hover {
	background-color: #ddd;
}
.heading-4:hover {
	background-color: #ccc;
}
.heading-5:hover {
	background-color: #bbb;
}

.heading .title {
	align-items: center;
	display: flex;
}

p {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	margin: 0 0 0 8px;
}

.heading .title .type {
	border-radius: 8px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin: 0 6px;
	padding: 2px 6px;
}
.heading .title .priority,
.heading .title .counter {
	color: red;
	margin: 0 6px;
}
.heading .title .content {
	margin: 0 0 0 6px;
}
.heading .title .spacer {
	flex-grow: 1;
}
.heading .title .type.not-started {
	background-color: #2196f3;
}
.heading .title .type.pending {
	background-color: #9e9e9e;
}
.heading .title .type.abandoned {
	background-color: #ff9800;
}
.heading .title .type.done {
	background-color: #4caf50;
}

.heading .title .tag {
	align-self: center;
	background-color: #03a9f4;
	border-radius: 16px;
	color: #fff;
	font-size: 14px;
	margin: 0 3px;
	padding: 3px 6px;
}
