body {
	color: #333;
	font-family: 'Architects Daughter', cursive;
}

.heading {
	border-radius: 5px;
	font-size: 18px;
	margin: 2px 8px;
	padding: 2px 12px;
}
.heading-1 {
	font-size: 32px;
}
.heading-2 {
	font-size: 28px;
}
.heading-3 {
	font-size: 24px;
}
.heading-4 {
	font-size: 20px;
}
.heading-5 {
	font-size: 16px;
}
.heading:hover {
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,.24);
}
.heading-3:hover {
	background-color: #ddd;
}
.heading-4:hover {
	background-color: #ccc;
}
.heading-5:hover {
	background-color: #bbb;
}
p {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	margin: 0 0 0 12px;
}

.heading .title {
}

.heading .title .type {
	border-radius: 3px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin: 0 6px;
	padding: 2px 6px;
}
.heading .title .priority,
.heading .title .counter {
	color: red;
	margin: 0 6px;
}
.heading .title .content {
	margin-left: 6px;
}
.heading .title .spacer {
	flex-grow: 1;
}
.heading .title .type.not-started {
	background-color: #2196f3;
}
.heading .title .type.pending {
	background-color: #9e9e9e;
}
.heading .title .type.abandoned {
	background-color: #ff9800;
}
.heading .title .type.done {
	background-color: #4caf50;
}

.heading .title .tag {
	background-color: #03a9f4;
	border-radius: 16px;
	color: #fff;
	font-size: 14px;
	margin: 0 3px;
	padding: 3px 6px;
}

@media (min-width: 960px) {
	body {
		margin: 0 auto;
		width: 960px;
	}
}

@media (max-width: 960px) {
	.heading {
		margin: 2px 1px 2px 5px;
		padding: 2px 0px;
	}
	.heading-1 {
		font-size: 26px;
	}
	.heading-2 {
		font-size: 24px;
	}
	.heading-3 {
		font-size: 20px;
	}
	.heading-4 {
		font-size: 16px;
	}
	.heading-5 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
		margin: 0 0 0 8px;
	}
	.heading .title .priority,
	.heading .title .counter {
		margin: 0 2px 0 5px;
	}
	.heading-4 .title .type,
	.heading-5 .title .type {
		font-size: 12px;
		line-height: 14px;
		margin: 1px 4px 1px -22px;
		padding: 2px 4px;
	}
	.heading-5 .title .type {
		margin: 1px 4px 1px -17px;
	}
	.heading .title .tag {
		font-size: 12px;
		padding: 0 4px;
	}

}
